<!-- featured section -->
{% block introduction %}     
<div class="max-w-screen-7xl mx-auto py-8 px-4 lg:pt-16 ">
    <div class="text-center mb-10">
        <h2 class="text-4xl tracking-tight font-bold text-primary-800">COMPANY INTRODUCTION</h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2">
        <!-- can help image -->
        <div class=" mx-auto  py-5 ">
            <div class="mx-auto py-5 ">
                <div class="rounded overflow-hidden flex flex-col mx-auto">
                    <div href="#">
                        <img class="w-[600px] h-[500px] mx-auto" src="static/image/Picture1.jpg">
                    </div>
                    <div class="relative -mt-16 md:-mt-20 2xl:-mt-28 px-5 2xl:px-10 pt-5 pb-7 bg-emerald-50 m-3 2xl:m-10">
                        <a href="#" class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">
                            Who We are?
                        </a>
                        <div class="text-container">
                            <p class="text-gray-900 text-sm text-justify overflow-hidden h-20">
                                Networld group is a leading ICT solutions provider in Bangladesh, providing different IT products and services to various banks and financial institutions across the country. Our company is certified under ISO 9001:2015. Our range of services also includes logistics, courier, physical security, managed services, software, and maintenance services through our dedicated team of certified engineers. We also represent many industry-leading partners like NCR, DPTF, Hikvision, Huawei, Certis Cisco, Urovo, Software AG, BPC, Kimaya, Glory, ARCA among many others. We are also involved in sports development as part of our corporate social responsibility and are one of the co-organizers of the Bangabandhu Sheikh Mujib Dhaka Marathon working with the Bangladesh Army as the organizer.
                            </p>
                            <button class="read-more-btn text-teal-500 underline hover:text-teal-800">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

        <!-- end can help image -->

        <div>
            <div   class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                <div id="div1" class="w-full mb-4 px-2 animation-trigger ">
                    <div class="h-full py-4 px-6 border-b border-r border-green-500 rounded-br-xl transition-transform transform-gpu hover:scale-105 shadow-lg hover:shadow-xl hover:bg-teal-50 hover:ring-1 ring-teal-500 group">
                        <h3 class="text-xl font-bold mb-6 text-sky-900 group-hover:text-teal-600">NETWORLD BANGLADESH LIMITED</h3>
                        <p class="text-sm">Networld Bangladesh Limited is an ICT (Information & Communication Technology) company in Bangladesh providing various products and services to financial institutions since 2006.</p>
                    </div>
                </div>
                <div id="div2" class="w-full mb-4 px-2 animation-trigger">
                    <div class="h-full py-4 px-6 border-b border-r border-green-500 rounded-br-xl transition-transform transform-gpu hover:scale-105 shadow-lg hover:shadow-xl hover:bg-teal-50 hover:ring-1 ring-teal-500 group">
                        <h3 class="text-xl font-bold mb-6 text-sky-900 group-hover:text-teal-600">NETWORLD TECHNOLOGY LIMITED</h3>
                        <p class="text-sm">Our website is designed with a mobile-first approach, offering a seamless browsing experience across all devices, including smartphones and tablets.</p>
                    </div>
                </div>
                <div id="div3" class="w-full mb-4 px-2 animation-trigger">
                    <div class="h-full py-4 px-6 border-b border-r border-green-500 rounded-br-xl transition-transform transform-gpu hover:scale-105 shadow-lg hover:shadow-xl hover:bg-teal-50 hover:ring-1 ring-teal-500 group">
                        <h3 class="text-xl font-bold mb-6 text-sky-900 group-hover:text-teal-600">NETWORLD HOLDINGS LIMITED</h3>
                        <p class="text-sm">Our U.S.-based customer support team is available around the clock to answer any questions, resolve any issues, and provide helpful solutions. Whether it's through email, phone, or live chat, we're always here to support you.</p>
                    </div>
                </div>
                <div id="div4" class="w-full mb-4 px-2 animation-trigger">
                    <div class="h-full py-4 px-6 border-b border-r border-green-500 rounded-br-xl transition-transform transform-gpu hover:scale-105 shadow-lg hover:shadow-xl hover:bg-teal-50 hover:ring-1 ring-teal-500 group">
                        <h3 class="text-xl font-bold mb-6 text-sky-900 group-hover:text-teal-600">EBD LIMITED</h3>
                        <p class="text-sm">We use cutting-edge security measures to protect our customers' sensitive information and ensure the safety of all transactions made on our site.</p>
                    </div>
                </div>
                <div id="div5" class="w-full mb-4 px-2 animation-trigger">
                    <div class="h-full py-4 px-6 border-b border-r border-green-500 rounded-br-xl transition-transform transform-gpu hover:scale-105 shadow-lg hover:shadow-xl hover:bg-teal-50 hover:ring-1 ring-teal-500 group">
                        <h3 class="text-xl font-bold mb-6 text-sky-900 group-hover:text-teal-600">WORLD RUNNER EXPRESS LIMITED</h3>
                        <p class="text-sm">Our U.S.-based customer support team is available around the clock to answer any questions, resolve any issues, and provide helpful solutions. Whether it's through email, phone, or live chat, we're always here to support you.</p>
                    </div>
                </div>
                <div id="div6" class="w-full mb-4 px-2 animation-trigger">
                    <div class="h-full py-4 px-6 border-b border-r border-green-500 rounded-br-xl transition-transform transform-gpu hover:scale-105 shadow-lg hover:shadow-xl hover:bg-teal-50 hover:ring-1 ring-teal-500 group">
                        <h3 class="text-xl font-bold mb-6 text-sky-900 group-hover:text-teal-600">MILLENNIUM CERTIS SECURITY BANGLADESH LIMITED</h3>
                        <p class="text-sm">We use cutting-edge security measures to protect our customers' sensitive information and ensure the safety of all transactions made on our site.</p>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
const readMoreBtn = document.querySelector(".read-more-btn");
const paragraph = document.querySelector(".text-container p");

readMoreBtn.addEventListener("click", function() {
paragraph.classList.toggle("h-auto");
if (paragraph.classList.contains("h-auto")) {
readMoreBtn.textContent = "Read Less";
} else {
readMoreBtn.textContent = "Read More";
}
});
});
//


//
     document.addEventListener("DOMContentLoaded", function() {
        const divs = document.querySelectorAll('.animation-trigger');

        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('active');
                }
            });
        });

        divs.forEach(div => {
            observer.observe(div);
        });
    });
    
</script>

<style>
   

.animation-trigger {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 2s ease, transform 2s ease;
}


    .animation-trigger.active {
        opacity: 1;
        transform: translateY(0);
    }
.animation-trigger.active {
    opacity: 1;
    transform: translatex(0);
}

</style>
{% endblock %}
  <!-- end featured section -->