{% block mission %} 
<section class="bg-white  relative z-0">
    <div class="max-w-screen-xl 2xl:max-w-[1500px] px-8 md:px-20 mx-auto flex flex-col justify-center pb-20">
        <div class="flex flex-col sm:flex-row mx-auto">
            <!--- Starts component --> 
            <a href="#_">
                <img src="https://scontent.fdac157-1.fna.fbcdn.net/v/t39.30808-6/358708186_627625679469454_5761361892145467411_n.jpg?stp=dst-jpg_s960x960&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Mwh3q2UbgPcQ7kNvgHmFENz&_nc_ht=scontent.fdac157-1.fna&oh=00_AYDX8_3_NbdNX19Z8qjLfRFLqCDrOqvP0L2lRsh0aa8Z4w&oe=665A3700" class="rounded-xl rotate-6 hover:rotate-0 duration-500 hover:-translate-y-12 h-60 w-80 object-cover hover:scale-150 transform origin-bottom relative z-10" alt="#_">
            </a>
            <a href="#_">
                <img src="https://media.licdn.com/dms/image/C5622AQHHc2wLSNrlaA/feedshare-shrink_800/0/1630931925543?e=2147483647&v=beta&t=LyWXlmSR12I_-_UXUawcumbQ1hDAoaWCWk7HaXeKx-M" class="rounded-xl -rotate-12 hover:rotate-0 duration-500 hover:-translate-y-12 h-60 w-80 object-cover hover:scale-150 transform origin-bottom relative z-10" alt="#_">
            </a>
            <a href="#_">
                <img src="https://scontent.fdac157-1.fna.fbcdn.net/v/t39.30808-6/358708186_627625679469454_5761361892145467411_n.jpg?stp=dst-jpg_s960x960&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Mwh3q2UbgPcQ7kNvgHmFENz&_nc_ht=scontent.fdac157-1.fna&oh=00_AYDX8_3_NbdNX19Z8qjLfRFLqCDrOqvP0L2lRsh0aa8Z4w&oe=665A3700" class="rounded-xl rotate-6 hover:rotate-0 duration-500 hover:-translate-y-12 h-60 w-80 object-cover hover:scale-150 transform origin-bottom relative z-10" alt="#_">
            </a>
            <a href="#_">
                <img src="https://media.licdn.com/dms/image/C5622AQHHc2wLSNrlaA/feedshare-shrink_800/0/1630931925543?e=2147483647&v=beta&t=LyWXlmSR12I_-_UXUawcumbQ1hDAoaWCWk7HaXeKx-M" class="rounded-xl -rotate-12 hover:rotate-0 duration-500 hover:-translate-y-12 h-60 w-80 object-cover hover:scale-150 transform origin-bottom relative z-10" alt="#_">
            </a>
            <!--- Ends component -->
        </div>
    </div>
</section>
{% endblock %}
