{% extends "base.html" %}
{% load static %}
{% block base %}

<div>
    
    <video src="https://drive.google.com/file/d/1bB8sD66BErag_HUGs8OSoXyix1qhxndt/view?usp=drive_link"></video>

    <label for="video-upload" class="flex bg-gradient-to-r from-blue-500 to-red-500 text-white px-6 py-2 text-xl rounded font-medium focus:ring ring-black ring-opacity-10 gradient element-to-rotate cursor-pointer">
      <div class="flex items-center">
        Upload Video
        <svg class="w-6 h-6 text-white ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
        </svg>
      </div>
    </label>
    
</div>

{% endblock %}